/* 
This is master CSS
*/

/*layout*/



/*style*/

html{
    background-color: yellow;

}

body{
    margin: 0;
}

header{
    /*layout*/
    grid-area: header;
    height: 50px;
    /*style*/
    color: white;
    background-color: green;
    font-size: 30px;
}

#a{
    margin: 0;
    display: flex;
    flex-direction: row;

}


nav{
    grid-area: left;
    /*style*/
    color: black;
    background-color: #ccffff;
    font-size: 30px;
}


main{
    /* flex: 1; */
    min-height: 800px;
    width: 800px;
/*style*/
    color: black;
    background-color: #ccffff;
    font-size: 30px;
}



ul{
    list-style: none;
    padding: 0 ;
    margin: 0 ;


}
aside{
    min-width: 200px; 
    display: flex;
    flex-direction: column;
}

footer{
}

div{
}

H1{

/*style*/
    color: black;
    /* background-color:  rgba(0, 225, 150, 20); */
    font-size: 30px;
    margin: 0 0 0 0 ; /*top left bottom right*/
}

#sidefooter{
    min-height: 200px;
    
    margin-top: auto;
    background-color: rgb(112, 112, 255);
    color: white;
}


