html{
  background-color: yellow;
}

header{
  color: white;
  background-color: green;
  font-size: 30px;
}

nav{

  
}

main{

}

footer{
  
}

div{
  color: #FF1600;
  background-color: antiquewhite;
  font-size: 30px;
}
